.blog {
    padding: 1rem;
    width: 100%;
}

.blog .container {
    width: 950px;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.blog h2 {
    font-size: 3rem;
    text-align: center;
}

.blog .container .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 4rem 0;
}

.blog .card {
    border: 1px solid #eee;
    border-radius: 4em;
    box-shadow: 0 3px 10px rgb(0,0,0,.2);
    padding: 3rem 1rem 1rem 1rem;
}

.blog img {
    border-radius: 50px;
    margin-top: -2rem;
}

.blog .card p {
    color: #787878;
    font-size: 1.1rem;
    margin: 12px;
    color: inherit;
}

.blog .card span {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 700;
}

img {
    width: 100%;
}

.quote {
    font-style: italic;
}

.truncated-description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to three lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@media screen and (max-width: 940px) {
    .blog .container {
        width: 100%;
    }

    .blog .container .content {
        grid-template-columns: 1fr;
    }

    .blog .card {
        max-width: 100%;
        margin: 1rem;
    }
}